apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}
  labels:
    backstage.io/kubernetes-id: ${{values.app_name}}
spec:
  selector:
    app: ${APP_NAME}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080

  type: ClusterIP
